<launch>
  <param name="/use_sim_time" value="false" />
  
  <node pkg="crosbot_ogmbicp" type="crosbot_ogmbicp" name="icp" >
    <rosparam>
      odom_frame: /odom
    </rosparam>
  </node>
  
  <node pkg="crosbot_ui" type="gui" name="slam" args="$(find comp3431)/launch/crosbot-fastslam.gui" >
  </node>
</launch>
