<launch>
    <param name="/use_sim_time" value="false"/>
    <include file="$(find ass1)/beacons.launch"/>

    <node pkg="crosbot_ogmbicp" type="crosbot_ogmbicp" name="icp">
        <rosparam>
            odom_frame: /odom
        </rosparam>
    </node>

    <node pkg="crosbot_ui" type="gui" name="slam" 
        args="$(find comp3431)/launch/crosbot-fastslam.gui" >
    </node>

    <node name="movement" pkg="ass1" type="movement" output="screen">
        <param name="safe_range" value="0.18" />
        <param name="unstuck_x_movement" value="-0.15" />
        <param name="unstuck_angle_threshold" value="0.2" />
        <param name="unstuck_angle_multiplier" value="2" />
    </node>
    <!-- <node name="waypoint" pkg="ass1" type="waypoint" output="screen" /> -->
    <node name="odom" pkg="ass1" type="odom" output="screen" />
    <!--<node name="beacon_finder" pkg="ass1" type="beacon_finder" output="screen" />-->
    <node name="exploration" pkg="ass1" type="exploration" output="screen">
        <param name="fatten" value="5" />
    </node>
</launch>
