<launch>
    <param name="/use_sim_time" value="false"/>
    <include file="$(find ass1)/beacons.launch"/>

    <node pkg="crosbot_ogmbicp" type="crosbot_ogmbicp" name="icp">
        <rosparam>
            odom_frame: /odom
        </rosparam>
        <remap from="scan" to="ass1/scan"/>
    </node>

    <node pkg="crosbot_ui" type="gui" name="slam" 
        args="$(find comp3431)/launch/crosbot-fastslam.gui" >
        <remap from="scan" to="ass1/scan"/>
    </node>

    <node name="planner" pkg="ass1" type="planner" output="screen" />
    <node name="movement" pkg="ass1" type="movement" output="screen" />
    <node name="waypoint" pkg="ass1" type="waypoint" output="screen" />
    <node name="odom" pkg="ass1" type="odom" output="screen" />
    <!--<node name="beacon_finder" pkg="ass1" type="beacon_finder" output="screen" />-->
    <node name="exploration" pkg="ass1" type="exploration" output="screen" />    
    <node name="simple_laser" pkg="ass1" type="simple_laser" output="screen" />
</launch>
