<launch>
    <node name="beacon_finder" pkg="ass1" type="beacon_finder" output="screen">
        <rosparam>
            colour_ranges:
                pink:
                    h_lo: 140
                    h_hi: 180
                    s: 120
                    v: 120
                blue:
                    h_lo: 91 
                    h_hi: 120
                    s: 50
                    v: 50
                green:
                    h_lo: 70
                    h_hi: 100
                    s: 140
                    v: 50
                yello:
                    h_lo: 20
                    h_hi: 40
                    s: 120
                    v: 50
        </rosparam>
    </node>
</launch>
