<launch>
    <rosparam>
        beacons:
            beacon0:
                top:    "pink"
                bottom: "yellow"
            beacon1:
                top:    "green"
                bottom: "pink"
    </rosparam>
    <node name="beacon_finder" pkg="ass1" type="beacon_finder" output="screen" />
</launch>
