<launch>
    <rosparam>
        beacons:
            beacon0:
                top:    "green"
                bottom: "pink"
            beacon1:
                top:    "blue"
                bottom: "pink"
            beacon2:
                top:    "pink"
                bottom: "yellow"
    </rosparam>
</launch>
