<launch>
    <node name="beacon_finder" pkg="ass1" type="beacon_finder" output="screen">
        <rosparam>
            colour_ranges:
                pink:
                    h_lo: 140
                    h_hi: 180
                    s: 100
                    v: 85
                blue:
                    h_lo: 90
                    h_hi: 120
                    s: 100
                    v: 70
                green:
                    h_lo: 60
                    h_hi: 90
                    s: 20
                    v: 20
                yellow:
                    h_lo: 20
                    h_hi: 40
                    s: 120
                    v: 50
        </rosparam>
    </node>
</launch>
