<launch>
    <rosparam>
        beacons:
            beacon0:
                top:    "yellow"
                bottom: "pink"
            beacon1:
                top:    "green"
                bottom: "pink"
            beacon2:
                top:    "pink"
                bottom: "yellow"
            beacon3:
                top:    "pink"
                bottom: "blue"
    </rosparam>
</launch>
